# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución / empaquetado
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Archivos de configuración local
.env
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
temp/
*.temp
*.temp
*.log

# Archivos auto-generados por VS Code/extensiones
ui/buttons.py
ui/panel_design_view.py
simulation_results
models

# Dispositivos personalizados (datos locales del usuario)
resources/custom_devices/custom_olt.json
resources/custom_devices/custom_onu.json